asgiref==3.2.5
dj-database-url==0.5.0
Django==3.0.4
django-bitfield==2.0.1
django-crispy-forms==1.9.0
django-dynamic-formsets==0.0.8
gunicorn==20.0.4
numpy==1.18.2
psycopg2==2.8.4
pytz==2019.3
sqlparse==0.3.1
scipy==1.4.1
six==1.14.0
matplotlib==3.2.1