{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<h1 class="mb-4">Gráfico de Evolução</h1>

<div class="form-row align-items-center">
    <div class="col-auto">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
            <div class="input-group-text">UF</div>
            </div>
            <select class="form-control" id="uf_id" name="uf">
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">CIDADE</div>
            </div>
            <select class="form-control" id="cidade_id" name="cidade">
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">BAIRRO</div>
            </div>
            <select class="form-control" id="bairro_id" name="bairro">
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">STATUS</div>
            </div>
            <select class="form-control" id="status_id" name="status">
                <option value="TODOS">TODOS</option>
                <option value="N">NORMAL</option>
                <option value="S">SUSPEITO</option>
                <option value="C">CONFIRMADO</option>
                <option value="M">MORTO</option>
                <option value="R">RECUPERADO</option>
            </select>
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary mb-2" id="ver_grafico_id" name="ver_grafico">Ver Gráfico</button>
    </div>
  </div>

<!-- Initialize a select button -->
<div class="mt-4" id="my_dataviz"></div>

<!-- Create a div where the graph will take place -->
<script src="{% static 'scripts/graph_evolution.js' %}" ></script>
{% endblock content %}