{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="mb-4">Modelos Matemáticos</h1>

<div class="mb-4">
    <form>
        <h2>Parâmetros</h2>
        <div class="row">
            {% for field in form %}
            <div class="col-lg-auto">
                <div class="form-group">
                    <label for="id_N">{{field.label}}</label>
                    <div class="">
                        {% if field.field.widget.input_type == "number" %}
                        <input type="{{field.field.widget.input_type}}" id="{{field.auto_id}}" name="{{field.html_name}}" value="{{field.value|default_if_none:"0"}}" step="{{field.field.widget.attrs.step}}">
                        <small id="hint_{{field.auto_id}}" class="form-text text-muted">{{field.help_text}}</small>
                        {% else %}
                        {{field}}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-info" value="Calcular">
    </form>
</div>
{% if graph %}
<div class="row">
    <div class="col-lg">
        <h1>Modelo {{title}}</h1>
        <div id="id_graph" align="center">
            <b>Infectados: </b> {{ max_infected }}<br>
	    <b>Dia D:</b> {{ day_D }}º<br>
            {{ graph|safe }}
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
