<div id="delete-{{ model_class }}" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar remoção</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form id="delete-{{ model_class }}-form" method="post" action="{{ action }}">
                    {{ message }}
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-light" data-dismiss="modal"></button>
                <input type="submit" form="delete-{{ model_class }}-form" class="btn btn-danger" value="Remover">
            </div>
        </div>
    </div>
</div>