{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <form id="sign-up-form" method="post">
        {% csrf_token %}
        <h5 class="row-col">Dados pessoais</h5>
        {{ form|crispy }}

        <div class="row">
            <h5 class="col-9">Endereços</h5>
            <div id="add-address" class="btn btn-success col-3">Adicionar</div>
        </div>
        {{ address_form.management_form }}
        <div id="addresses" class="row">
            <div class="form-group col">
                {{ address_form.empty_form|crispy }}
            </div>
        </div>

        <div class="row">
            <h5 class="col-9">Viagens recentes</h5>
            <div id="add-trip" class="col-3 btn btn-success ">Adicionar</div>
        </div>
        {{ trip_form.management_form }}
        <div id="trips" class="row form-group">
        </div>

        <div class="row">
            <h5 class="col-9">Sintomas</h5>
            <div id="add-symptom" class="col-3 btn btn-success ">Adicionar</div>
        </div>
        {{ symptom_form.management_form }}
        <div id="symptoms" class="row-col form-group">
        </div>

        <div class="row">
            <h5 class="col-9">Comorbidades</h5>
            <div id="add-comorbidity" class="col-3 btn btn-success">Adicionar</div>
        </div>
        {{ comorbidity_form.management_form }}
        <div id="comorbidities" class="row-col form-group">
        </div>

        <div class="row justify-content-center form-group">
            <div class="col-4">
                <input type="submit" form="sign-up-form" class="btn btn-success" value="Cadastrar"/>
            </div>
        </div>
    </form>
    <script src="{% static 'scripts/dynamic_formset.js' %}"></script>
    <script>
        $("#add-symptom").on("click", function () {
            const totalForms = $("#id_symptom_set-TOTAL_FORMS");
            const n = parseInt(totalForms.val()) + 1;
            totalForms.val(n);
            const form = '<div class="col-12">{{ symptom_form.empty_form|crispy|escapejs }}</div>';
            $("#symptoms").append(form.replace(/__prefix__/g, '' + n));
        });
        $("#add-trip").on("click", function () {
            const totalForms = $("#id_trip_set-TOTAL_FORMS");
            const n = parseInt(totalForms.val()) + 1;
            totalForms.val(n);
            const form = '<div class="col-12">{{ trip_form.empty_form|crispy|escapejs }}</div>';
            $("#trips").append(form.replace(/__prefix__/g, '' + n));
        });
        $("#add-address").on("click", function () {
            const totalForms = $("#id_address_set-TOTAL_FORMS");
            const n = parseInt(totalForms.val()) + 1;
            totalForms.val(n);
            const form = '<div class="col-12">{{ address_form.empty_form|crispy|escapejs }}</div>';
            $("#addresses").append(form.replace(/__prefix__/g, '' + n));
        });
        $("#add-comorbidity").on("click", function () {
            const totalForms = $("#id_comorbidity_set-TOTAL_FORMS");
            const n = parseInt(totalForms.val()) + 1;
            totalForms.val(n);
            const form = '<div class="col-12">{{ comorbidity_form.empty_form|crispy|escapejs }}</div>';
            $("#comorbidities").append(form.replace(/__prefix__/g, '' + n));
        });
    </script>
{% endblock %}

<div class="col">
    <div class="row">
        <div class="col">{{ form.symptom|as_crispy_field }}</div>
        <div class="col">{{ form.intensity|as_crispy_field }}</div>
        <div class="col">{{ form.onset|as_crispy_field }}</div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success symptom_form-add-form-row">Adicionar sintoma</button>
        </div>
    </div>
</div>