{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <svg id="pie-1" class="col-sm-12 col-md col-lg-4 p-3 border shadow-sm" style="height: 300px"></svg>
        <svg id="pie-2" class="col-sm-12 col-md-8 col-lg-4 border shadow-sm" style="height: 300px"></svg>
    </div>

    {{ stats|json_script:'stats' }}

    <script src="{% static 'scripts/charts.js' %}"></script>
    <script>
        const stats = JSON.parse(document.getElementById("stats").textContent);
        const total = stats.total;

        barChart("#pie-1", [
            {label: "Suspeitos", value: total.suspect_cases},
            {label: "Confirmados", value: total.confirmed_cases},
            {label: "Mortes", value: total.deaths},
            {label: "Recuperados", value: total.recovered || 0}
        ], {
            title: "Casos de COVID-19 em Alagoas",
            colors: ["khaki", "salmon", "black", "lightgreen"],
            xAxis: {label: "Status",},
            yAxis: {label: "Casos"},
        });
        pieChart("#pie-2", [
            {label: "RETs disponíveis", value: 29},
            {label: "RETs ocupados", value: 10},
            {label: "UTIs disponíveis", value: 17},
            {label: "UTIs ocupados", value: 17},
        ], {
            title: "Ocupação de leitos",
            colors: ["lightgreen", "khaki", "salmon", "firebrick"],
            innerRadius: 30,
        })
    </script>
{% endblock %}