{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <div id="monitoring-create" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Novo atendimento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="monitoring-create-form" method="post"
                          action="{% url 'monitoring:monitoring-create' %}">
                        {% csrf_token %}
                        {{ monitoring_create_form|crispy }}
                        <hr>
                        <h6>Sintomas</h6>
                        {{ symptom_formset.management_form }}
                        {% for form in symptom_formset %}
                            <h6>{{ form.label.value }}</h6>
                            <div class="form-row">
                                {{ form.symptom }}
                                {{ form.onset|as_crispy_field }}
                            </div>
                        {% endfor %}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <input type="submit" form="monitoring-create-form" class="btn btn-primary" value="Criar">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between my-2">
        <h4 class="col-4">Pacientes</h4>
        <div class="col-3">
            <a class="btn btn-primary float-right" href="{% url 'monitoring:profile-create' %}">Novo paciente</a>
        </div>
    </div>

    <div class="">
        <form method="get" class="form-inline mb-2">
            <input type="hidden" name="search-target" value="profile">
            <label for="search-query"></label>
            <input id="search-query" class="form-control col-10 mr-2 " name="term"
                   value="{{ params.term|capfirst }}" placeholder="Nome, CPF, RG...">
            <div class="col">
                <input type="submit" class="btn btn-secondary" value="Pesquisar">
            </div>

        </form>
    </div>



    <ul class="list-group">
        {% for profile in profile_list %}
            <hr>
            <li class="list-group-item p-0">
                <div class="row-col p-0">
                    <a class="my-auto" href="{% url 'monitoring:profile-detail' profile.id %}">{{ profile }}</a>
{#                    <button type="button" class="btn btn-primary float-right" data-toggle="modal"#}
{#                            data-target="#update-status">Editar Status#}
{#                    </button>#}
                </div>
            </li>
            <div id="update-status" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Status</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="update-status-form" method="post"
                                  class="row-col col-8 justify-content form-inline"
                                  action="{% url 'monitoring:profile-status' profile.id %}">
                                {% csrf_token %}
                                {{ status_form|crispy }}
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <input type="submit" form="update-status-form"
                                   class="btn btn-primary"
                                   value="Editar">
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <p class="text-muted">Nenhum paciente cadastrado</p>
        {% endfor %}
    </ul>

    <hr>

    <div class="row justify-content-between">
        <h4 class="col-auto">Últimos atendimentos</h4>
        <div class="col-auto">
            <button class="btn btn-primary" data-toggle="modal" data-target="#monitoring-create">Novo atendimento
            </button>
        </div>
    </div>
    <div class="row-col my-2">
        <div style="overflow-x: auto;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Paciente</th>
                    <th>Foi confirmado?</th>
                    <th>Apresenta sintomas?</th>
                    <th>Viajou recentemente?</th>
                    <th>Apresenta comorbidades?</th>
                </tr>
                </thead>
                <tbody>
                {% for monitoring in monitorings.all %}
                    <tr>
                        <td><a href="{% url 'monitoring:monitoring-detail' monitoring.id %}">{{ monitoring.id }}</a>
                        </td>
                        <td>{{ monitoring.profile }}</td>
                        <td>{{ monitoring.confirmed|yesno }}</td>
                        <td>{{ monitoring.symptom_set.all|yesno }}</td>
                        <td>{{ monitoring.profile.trip_set.all|yesno }}</td>
                        <td>{{ monitoring.profile.comorbidity_set.all|yesno }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
