{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'monitoring:profile-create' %}">Novo paciente</a>
    <button class="btn btn-primary" data-toggle="modal" data-target="#monitoring-create">Novo atendimento</button>
    <div id="monitoring-create" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Novo atendimento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="monitoring-create-form" method="post"
                          action="{% url 'monitoring:monitoring-create' %}">
                        {% csrf_token %}
                        {{ monitoring_create_form|crispy }}
                        <hr>
                        <h6>Sintomas</h6>
                        {{ symptom_formset.management_form }}
                        {% for form in symptom_formset %}
                            <h6>{{ form.label.value }}</h6>
                            <div class="form-row">
                                {{ form.symptom }}
                                {{ form.onset|as_crispy_field }}
                            </div>
                        {% endfor %}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <input type="submit" form="monitoring-create-form" class="btn btn-primary" value="Criar">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-4">
            <h4>Pacientes</h4>
        </div>
        <form method="get" class="row-col justify-content-end form-inline">
            <input type="hidden" name="search-target" value="profile">

            <label for="fullname-search-bar"></label>
            <input id="fullname-search-bar" class="form-control mr-2" name="full_name__startswith"
                   value="{{ params.full_name__startswith|capfirst }}" placeholder="Nome">

            <input type="submit" class="btn btn-primary" value="Pesquisar">
        </form>
    </div>

    <ul>
        {% for profile in profile_list %}
            <li><a href="{% url 'monitoring:profile-detail' profile.id %}">{{ profile }}</a></li>
        {% empty %}
            <p>Nenhum paciente cadastrado</p>
        {% endfor %}
    </ul>

    <h1>Últimos atendimentos</h1>
    <div style="overflow-x: auto;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Paciente</th>
                <th>Foi confirmado?</th>
                <th>Apresenta sintomas?</th>
                <th>Viajou recentemente?</th>
                <th>Apresenta comorbidades?</th>
            </tr>
            </thead>
            <tbody>
            {% for monitoring in monitorings.all %}
                <tr>
                    <td><a href="{% url 'monitoring:monitoring-detail' monitoring.id %}">{{ monitoring.id }}</a></td>
                    <td>{{ monitoring.profile }}</td>
                    <td>{{ monitoring.confirmed|yesno }}</td>
                    <td>{{ monitoring.symptom_set.all|yesno }}</td>
                    <td>{{ monitoring.profile.trip_set.all|yesno }}</td>
                    <td>{{ monitoring.profile.comorbidity_set.all|yesno }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
