{% extends 'base.html' %}

{% load static %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'monitoring:create_profile' %}">Novo paciente</a>
    <a class="btn btn-primary" href="{% url 'monitoring:cadastrar_atendimento' %}">Nova consulta</a>

    <h1>Pacientes</h1>

    <ul>
    {% for profile in profile_list %}
        <li><a href="{% url 'monitoring:get_profile' profile.id %}">{{ profile }}</a></li>
    {% empty %}
        <p>Nenhum paciente cadastrado</p>
    {% endfor %}
    </ul>

    <h1>Atendimentos</h1>

    <table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th><th>Paciente</th><th>Foi confirmado?</th><th>Apresenta sintomas?</th><th>Viajou recentemente?</th><th>Apresenta comorbidades?</th>
    </tr>
    </thead>
    <tbody>
    {% for atendimento in atendimentos.all %}
        <tr>
        <td>{{ atendimento.id }}</td><td>{{ atendimento.profile }}</td><td>{{ atendimento.confirmed|yesno }}</td><td>{{ atendimento.symptom_set.all|yesno }}</td><td>{{ atendimento.profile.trip_set.all|yesno }}</td><td>{{ atendimento.profile.comorbidity_set.all|yesno }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
