{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        path {
            fill: #ccc;
            stroke: #fff;
            stroke-width: .5px;
        }

        circle {
            fill: #fff;
            fill-opacity: 0.4;
            stroke: #111;
        }

        path.active {
            stroke: yellow;
            stroke-width: 1px;
        }

        path.selected {
            stroke: greenyellow;
            stroke-width: 1px;
        }

        .tooltipa {
            color: white;
            background-color: black;
            padding: 8px;
            border-radius: 8px;
            pointer-events: none;
            position: absolute;
            left: 0;
        }

        .low {
            fill: blue;
        }

        .medium {
            fill: yellow;
        }

        .high {
            fill: red;
        }

        circle.active {
            fill: blue;
        }
    </style>

    <div>
        <form class="form-row mt-3" method="get">
            <div class="col-auto mr-0 mb-2">
                <label for="age-group-select">Faixa etária</label>
                <select id="age-group-select" class="form-control">
                    <option>Todas</option>
                    <option value="0">0 a 9 anos</option>
                    <option value="1">10 a 19 anos</option>
                    <option value="2">20 a 29 anos</option>
                    <option value="3">30 a 39 anos</option>
                    <option value="4">40 a 49 anos</option>
                    <option value="5">50 a 59 anos</option>
                    <option value="6">60 a 69 anos</option>
                    <option value="7">70 a 79 anos</option>
                    <option value="8">Mais de 80 anos</option>
                    <option value="-1">Especificar...</option>
                </select>
            </div>
            <div class="col-auto mr-2 p-0 mb-2">
                <label for="age-group-min" style="display: none;">De</label>
                <input id="age-group-min" type="hidden" name="age__gte" class="form-control" min="0" max="120"
                       value="{{ params.age__gte }}" placeholder="De...">
            </div>
            <div class="col-auto mr-0 p-0 mb-2">
                <label for="age-group-max" style="display: none;">Até</label>
                <input id="age-group-max" type="hidden" name="age__lte" class="form-control" min="0" max="120"
                       value="{{ params.age__lte }}" placeholder="Até...">
            </div>

            <div class="col-auto mr-2 mb-2">
                <label for="gender-select">Sexo</label>
                <select id="gender-select" name="gender" class="form-control">
                    <option value="" {% ifequal params.gender '' %}selected{% endifequal %}>Todos</option>
                    <option value="F" {% ifequal params.gender 'F' %}selected{% endifequal %}>Feminino</option>
                    <option value="M" {% ifequal params.gender 'M' %}selected{% endifequal %}>Masculino</option>
                    <option value="O" {% ifequal params.gender 'O' %}selected{% endifequal %}>Não quer declarar</option>
                </select>
            </div>

            <div class="col-auto mr-0 mb-2">
                <label for="smoker-select">Fumante</label>
                <select id="smoker-select" class="form-control" name="smoker">
                    <option value="" {% ifequal params.smoker '' %}selected{% endifequal %}>Todos</option>
                    <option value="True" {% ifequal params.smoker 'True' %}selected{% endifequal %}>Sim</option>
                    <option value="False" {% ifequal params.smoker 'False' %}selected{% endifequal %}>Não</option>
                </select>
            </div>

            <div class="col-auto mr-0 mb-2">
                <label for="vaccinated-select">Vacinado contra gripe em 2020</label>
                <select id="vaccinated-select" class="form-control" name="vaccinated">
                    <option value="" {% ifequal params.vaccinated '' %}selected{% endifequal %}>Todos</option>
                    <option value="True" {% ifequal params.vaccinated 'True' %}selected{% endifequal %}>Sim</option>
                    <option value="False" {% ifequal params.vaccinated 'False' %}selected{% endifequal %}>Não</option>
                </select>
            </div>

            <div class="col-auto mr-0 mb-2 align-self-end">
                <input type="submit" class="btn btn-primary" value="Filtrar">
            </div>
        </form>
    </div>

    <div id="map" class="border" style="overflow-x: scroll">
        <svg></svg>
    </div>
    <div id="forecast" class="float-left text-light rounded bg-dark p-3 text-center"
             style="position:relative;top: 0;left: 0;">
            <p>Previsão para os próximos 4 dias</p>
            <table>
                <thead>
                <tr>
                    <th class="px-3"></th>
                    <th class="px-3">30/03</th>
                    <th class="px-3">31/03</th>
                    <th class="px-3">01/04</th>
                    <th class="px-3">02/04</th>
                    <th class="px-3">03/04</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>RETs disponíveis</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>RETs ocupados</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>UTIs disponíveis</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>UTIs ocupadas</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>


    {{ stats|json_script:'data' }}

    <script>
        const STATIC_URL = "{% static '' %}";
    </script>

    <script src="{% static 'scripts/map_visualization.js' %}"></script>
    <!-- Filtro de faixa etária -->
    <script>
        $(document).ready(function () {
            const ageMin = $("input[name='age__gte']");
            const ageMax = $("input[name='age__lte']");
            const ageSelect = $("#age-group-select");


            if ("{{ params.age__gte }}" !== "" && "{{ params.age__lte }}" !== "") {
                const min = parseInt("{{ params.age__gte }}");
                const max = parseInt("{{ params.age__lte }}");

                console.log(min, max);

                if ((min >= 0) && (min <= 70) && (min % 10 === 0) && (max === min + 9)) { // Faixa etária existente no select
                    ageSelect.val(min / 10);
                } else { // Faixa etária customizada
                    ageSelect.val("-1");
                    ageMin.val(min);
                    ageMin.attr("type", "number");
                    $("label[for=" + ageMin.attr("id") + "]").show();
                    ageMax.val(max);
                    ageMax.attr("type", "number");
                    $("label[for=" + ageMax.attr("id") + "]").show();
                }

            } else if (("{{ params.age__gte }}" !== "" && "{{ params.age__lte }}" === "") ||
                ("{{ params.age__gte }}" === "" && "{{ params.age__lte }}" !== "")) {
                ageMin.val("{{ params.age__gte }}");
                ageMax.val("{{ params.age__lte }}");
            }

            ageSelect.on("change", function () {
                const select = parseInt($(this).val());
                if (!isNaN(select) && select !== -1) {
                    $.each([ageMin, ageMax], function (i, age) {
                        age.attr("type", "hidden");
                        $("label[for=" + age.attr("id") + "]").hide();
                    });
                    ageMin.val(select * 10);
                    ageMax.val((select < 8) ? (select * 10 + 9) : "");
                } else {
                    if (isNaN(select)) {
                        $.each([ageMin, ageMax], function (i, age) {
                            age.val("");
                            age.attr("type", "hidden");
                            $("label[for=" + age.attr("id") + "]").hide();
                        });
                    } else {
                        $.each([ageMin, ageMax], function (i, age) {
                            age.attr("type", "number");
                            $("label[for=" + age.attr("id") + "]").show();
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}