{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        path {
            fill: #ccc;
            stroke: #fff;
            stroke-width: .5px;
        }

        circle {
            fill: #fff;
            fill-opacity: 0.4;
            stroke: #111;
        }

        path.active {
            stroke: yellow;
            stroke-width: 1px;
        }

        path.selected {
            stroke: greenyellow;
            stroke-width: 1px;
        }

        .tooltip {
            color: white;
            background-color: black;
            padding: 8px;
            border-radius: 8px;
            pointer-events: none;
        }

        .low {
            fill: blue;
        }

        .medium {
            fill: yellow;
        }

        .high {
            fill: red;
        }

        circle.active {
            fill: blue;
        }
    </style>

    <div>
        <form class="form-row mt-3" method="get">
            <div class="col-auto">
                <label for="age-group-select">Faixa etária</label>
                <select id="age-group-select" class="form-control mr-2">
                    <option>Todas</option>
                    <option value="0">0 a 9 anos</option>
                    <option value="1">10 a 19 anos</option>
                    <option value="2">20 a 29 anos</option>
                    <option value="3">30 a 39 anos</option>
                    <option value="4">40 a 49 anos</option>
                    <option value="5">50 a 59 anos</option>
                    <option value="6">60 a 69 anos</option>
                    <option value="7">70 a 79 anos</option>
                    <option value="8">mais de 80 anos</option>
                </select>
                <input type="hidden" name="age__gte" value="{{ params.age__gte }}">
                <input type="hidden" name="age__lte" value="{{ params.age__lte }}">
            </div>

            <div class="col-auto">
                <label for="gender-select">Sexo</label>
                <select id="gender-select" name="gender" class="form-control">
                    <option value="" {% ifequal params.gender '' %}selected{% endifequal %}>Todos</option>
                    <option value="F" {% ifequal params.gender 'F' %}selected{% endifequal %}>Feminino</option>
                    <option value="M" {% ifequal params.gender 'M' %}selected{% endifequal %}>Masculino</option>
                    <option value="O" {% ifequal params.gender 'O' %}selected{% endifequal %}>Não quer declarar</option>
                </select>
            </div>

            <div class="col-auto">
                <label for="smoker-select">Fumante</label>
                <select id="smoker-select" class="form-control" name="smoker">
                    <option value="" {% ifequal params.smoker '' %}selected{% endifequal %}>Todos</option>
                    <option value="True" {% ifequal params.smoker 'True' %}selected{% endifequal %}>Sim</option>
                    <option value="False" {% ifequal params.smoker 'False' %}selected{% endifequal %}>Não</option>
                </select>
            </div>

            <div class="col-auto">
                <label for="vaccinated-select">Vacinado contra gripe em 2020</label>
                <select id="vaccinated-select" class="form-control" name="vaccinated">
                    <option value="" {% ifequal params.vaccinated '' %}selected{% endifequal %}>Todos</option>
                    <option value="True" {% ifequal params.vaccinated 'True' %}selected{% endifequal %}>Sim</option>
                    <option value="False" {% ifequal params.vaccinated 'False' %}selected{% endifequal %}>Não</option>
                </select>
            </div>



            <div class="col-auto align-self-end">
                <input type="submit" class="btn btn-primary" value="Filtrar">
            </div>
        </form>
    </div>

    <div style="overflow-x: scroll">
        <svg></svg>
    </div>

    {{ params }}
    {{ stats }}
    {{ stats|json_script:'data' }}

    <script>
        const STATIC_URL = "{% static '' %}";
    </script>

    <script src="{% static 'scripts/map_visualization.js' %}"></script>
    <!-- Filtro de faixa etária -->
    <script>
        $(document).ready(function () {
            const ageMin = $("input[name='age__gte']");
            const ageMax = $("input[name='age__lte']");
            const ageSelect = $("#age-group-select");

            if ("{{ params.age__gte }}" !== "") {
                ageSelect.val("" + (0{% if params.age__gte %} + {{ params.age__gte }}{% endif %}) / 10);
            }

            ageSelect.on("change", function () {
                const select = parseInt($(this).val());
                if (!isNaN(select)) {
                    ageMin.val(select * 10);
                    ageMax.val((select < 8) ? (select * 10 + 9) : "");
                } else {
                    ageMin.val("");
                    ageMax.val("");
                }
            });
        });
    </script>
{% endblock %}