{% extends 'base.html' %}


{% block content %}
    <h3>Atendimento <span class="text-muted">nº{{ monitoring.id }}</span></h3>
    <p>Realizado em {{ monitoring.date|date:'d/m/Y' }}</p>
    <div class="row-col">
        <small class="text-muted">Caso suspeito?</small>
        <div class="border rounded p-1">{{ monitoring.suspect|yesno|title }}</div>
    </div>

    <h4>Exposições ao vírus</h4>
    <div class="row">
        {% for exposure in exposures %}
            <div class="col-6 col-md-6 col-lg-4">
                <small class="text-muted">{{ exposure.label }}</small>
                <div class="border rounded p-1">{{ exposure.set|yesno|title }}</div>
            </div>
        {% endfor %}
    </div>

    <h4>Sintomas reportados</h4>
    <ul class="list-group">
        {% for symptom in monitoring.symptom_set.all %}
            <li class="list-group-item">{{ symptom.get_symptom_display }} desde {{ symptom.onset|date:'d/m/Y' }}</li>
        {% empty %}
            <p class="text-muted">Nenhum sintoma reportado</p>
        {% endfor %}
    </ul>

{% endblock %}