{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <form onsubmit="f()" method="post">{% csrf_token %}
        {{ form|crispy }}
        <div class="form-row justify-content-end">
            <div class="form-group"><input type="submit" class="btn btn-primary" value="Cadastrar paciente"></div>
        </div>
    </form>

    <script>
        // https://stackoverflow.com/a/10008299
        function getAge(birthday) {
            var today = new Date();
            var thisYear = 0;
            if (today.getMonth() < birthday.getMonth()) {
                thisYear = 1;
            } else if ((today.getMonth() === birthday.getMonth()) && today.getDate() < birthday.getDate()) {
                thisYear = 1;
            }
            return today.getFullYear() - birthday.getFullYear() - thisYear;
        }

        $(document).ready(function () {
            const birthDate = $("#id_birth_date");
            const age = $("#id_age");

            birthDate.on("change", function () {
                const date = new Date(birthDate.val());
                if(date.getFullYear() > 1900 && date.getFullYear() < new Date().getFullYear()){
                    age.val(getAge(new Date(birthDate.val())));
                }
                else {
                    age.val('');
                }
            });
        });
    </script>
{% endblock %}
