{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <hr>
        <h4>Endereço principal</h4>
        {{ primary_address_form|crispy }}
        {{ primary_address_form.management_form }}
        <div class="form-row justify-content-end">
            <div class="form-group"><input type="submit" class="btn btn-primary" value="Cadastrar paciente"></div>
        </div>

    </form>
    <script>
        $("#id_birth_date").on('change', () => {
            var birth_date = new Date($("#id_birth_date").val());
            var today = new Date();
            var diff = new Date(milisecond = (today - birth_date));
            var age =  Math.abs(diff.getFullYear() - 1970);
            $("#id_age").val(age);
            console.log(age);
        });

    </script>

    <script src="{% static 'scripts/calc_cep.js' %}"></script>
{% endblock %}
