{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <form id="sign-up-form" method="post">
        {% csrf_token %}

        <h5>Dados pessoais</h5>
        <div>
            <div class="form-row">
                <div class="form-group col mb-0">{{ form.full_name|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col mb-0">{{ form.mother_name|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 mb-0">{{ form.birth_date|as_crispy_field }}</div>
                <div class="form-group col-6 mb-0">{{ form.gender|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 mb-0">{{ form.sus_number|as_crispy_field }}</div>
                <div class="form-group col-6 mb-0">{{ form.phone_number|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 mb-0">{{ form.vaccinated|as_crispy_field }}</div>
                <div class="form-group col-6 mb-0">{{ form.oxygen|as_crispy_field }}</div>
            </div>
        </div>

        <h5>Endereço</h5>
        {{ address_formset.management_form }}
        {% with address_form=address_formset.forms.0 %}
            <div class="individual-form">
                <div>
                    <h6>Endereço 1</h6>
                    {{ address_form.profile }}
                    <div class="form-row">
                        <div class="form-group col-6 mb-0">{{ address_form.type|as_crispy_field }}</div>
                        <div class="form-group col-6 mb-0">{{ address_form.postal_code|as_crispy_field }}</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-8 mb-0">{{ address_form.street_name|as_crispy_field }}</div>
                        <div class="form-group col-4 mb-0">{{ address_form.number|as_crispy_field }}</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 mb-0">{{ address_form.complement|as_crispy_field }}</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4 mb-0">{{ address_form.neighbourhood|as_crispy_field }}</div>
                        <div class="form-group col-4 mb-0">{{ address_form.city|as_crispy_field }}</div>
                        <div class="form-group col-4 mb-0">{{ address_form.people|as_crispy_field }}</div>
                    </div>
                </div>
            </div>
        {% endwith %}
        <div class="form-row justify-content-end">
            <div class="form-group"><input type="submit" class="btn btn-primary" value="Cadastrar"></div>
        </div>
    </form>

    <script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"></script>

    <script>
        function addressQuery(row, formCount) {
            const input = $(this);
            const maxlength = parseInt(input.attr('maxlength'));

            if (maxlength === input.val().length) {
                console.log("Consultando CEP...");
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://cep.la/" + input.val(), true);
                xhr.setRequestHeader("Accept", "application/json");
                xhr.onreadystatechange = function () {
                    if ((xhr.readyState === 0 || xhr.readyState === 4) && xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        console.log(xhr.responseText);
                        let prefix, id;

                        prefix = input.attr("id").split("-")[0];
                        id = input.attr("id").split("-")[1];

                        console.log(prefix, " ", id);

                        $(`#${prefix}-${id}-street_name`).val(response.logradouro);
                        $(`#${prefix}-${id}-neighbourhood`).val(response.bairro);
                        $(`#${prefix}-${id}-city`).val(response.cidade);
                    }
                };
                xhr.send(null);
            }
        }

        $(".individual-form").formset({
            prefix: "{{ address_formset.prefix }}",
            callbacks: {
                onAdd: function (row, formCount) {
                    row = $(row);

                    row.find("h6").html(`Endereço ${row.siblings().length + 1}`);
                    row.find(".postal-code-field").on('input', addressQuery);
                },
                onRemove: function (row) {
                    $(".dynamic-form").each(function (i, formRow) {
                        $(formRow).find("h6").html(`Endereço ${i + 1}`);
                    });
                }
            },
            uiText: {
                addPrompt: "Adicionar outro endereço",
                removePrompt: "Remover"
            }
        });

        $(document).ready(function () {
            $(".postal-code-field").on('input', addressQuery);
        });
    </script>
{% endblock %}