{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}
    <!-- Modal com o formulário de atualização do perfil -->
    <div id="update-profile" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar paciente</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="update-profile-form" method="post"
                          action="{% url 'monitoring:profile-update' profile.id %}">{% csrf_token %}
                        {{ update_profile_form|crispy }}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <input type="submit" form="update-profile-form"
                           class="btn btn-primary"
                           value="Editar">
                </div>
            </div>
        </div>
    </div>
    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update-profile">Editar</button>
    </p>

    <!-- Dados pessoais -->
    <h4>Dados pessoais</h4>
    <div class="row-col">
        <small class="text-muted">Nome completo</small>
        <div class="border rounded p-1">{{ profile.full_name }}</div>
    </div>
    <div class="row">
        <div class="col-6 pr-1">
            <small class="text-muted">RG</small>
            <div class="border rounded p-1">{{ profile.id_document }}</div>
        </div>
        <div class="col-6 pl-1">
            <small class="text-muted">CPF</small>
            <div class="border rounded p-1">{{ profile.cpf }}</div>
        </div>
    </div>
    <div class="row-col">
        <small class="text-muted">Nome da mãe</small>
        <div class="border rounded p-1">{{ profile.mother_name }}</div>
    </div>
    <div class="row-col">
        <small class="text-muted">Cadastro Nacional de Saúde</small>
        <div class="border rounded p-1">{{ profile.cns }}</div>
    </div>
    <div class="row">
        <div class="col-6 pr-1">
            <small class="text-muted">Data de nascimento</small>
            <div class="border rounded p-1">{{ profile.birth_date|date:'d/m/Y' }}</div>
        </div>
        <div class="col-6 pl-1">
            <small class="text-muted">Idade</small>
            <div class="border rounded p-1">{{ profile.age }} anos</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pr-1">
            <small class="text-muted">Sexo</small>
            <div class="border rounded p-1">{{ profile.get_gender_display }}</div>
        </div>
        <div class="col-4 pr-1 pl-1">
            <small class="text-muted">Altura</small>
            <div class="border rounded p-1">{{ profile.height }} m</div>
        </div>
        <div class="col-4 pl-1">
            <small class="text-muted">Peso</small>
            <div class="border rounded p-1">{{ profile.weight }} kg</div>
        </div>
    </div>
    <div class="row-col">
        <small class="text-muted">Número de telefone</small>
        <div class="border rounded p-1">{{ profile.phone_number }}</div>
    </div>
    <div class="row">
        <div class="col-6 pr-1">
            <small class="text-muted">Vacinado contra gripe em 2020</small>
            <div class="border rounded p-1">{{ profile.vaccinated|yesno|title }}</div>
        </div>
        <div class="col-6 pl-1">
            <small class="text-muted">Fumante</small>
            <div class="border rounded p-1">{{ profile.smoker|yesno|title }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 pr-1">
            <small class="text-muted">Precisou de oxigênio recentemente</small>
            <div class="border rounded p-1">{{ profile.oxygen|yesno|title }}</div>
        </div>
    </div>

    <hr>

    <h4>Comorbidades</h4>
    <div class="row">
        {% for comorbidity in comorbidities %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <small class="text-muted">{{ comorbidity.label }}</small>
                <div class="border rounded p-1">{{ comorbidity.set|yesno|title }}</div>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h4>Endereço</h4>
    <!-- Modal com o formulário de criação do endereço -->
    <div id="create-address" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Novo endereço</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="create-address-form" class="form-group" method="post"
                          action="{% url 'monitoring:address-create' profile.id %}">{% csrf_token %}
                        {{ address_form|crispy }}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <input type="submit" form="create-address-form" class="btn btn-primary" value="Criar">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal com o formulário de atualização do endereço -->
    <div id="update-address" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar endereço</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="update-address-form" method="post" action="">{% csrf_token %}
                        {{ update_address_forms.0|crispy }}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <input type="submit" form="update-address-form"
                           class="btn btn-primary"
                           value="Editar">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal com o formulário de remoção do endereço -->
    <div id="delete-address" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remover endereço</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover o endereço {{ address }}?</p>
                    <form id="delete-address-form" method="post" action="">{% csrf_token %}</form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal"></button>
                    <input type="submit" form="delete-address-form" class="btn btn-danger"
                           value="Remover">
                </div>
            </div>
        </div>
    </div>
    <!-- Lista de endereços -->
    <ul class="list-group">
        {% for address in profile.address_set.all %}
            <li class="list-group-item">
                {{ address }}
                <button class="btn btn-secondary" data-toggle="modal"
                        data-target="#update-address" onclick="
                        $('#update-address-form').attr('action', '{% url 'monitoring:address-update' profile.id address.id %}');
                        $('#update-address-form #id_type').val('{{ address.type }}');
                        $('#update-address-form #id_postal_code').val('{{ address.postal_code }}');
                        $('#update-address-form #id_street_name').val('{{ address.street_name }}');
                        $('#update-address-form #id_number').val('{{ address.number }}');
                        $('#update-address-form #id_complement').val('{{ address.complement }}');
                        $('#update-address-form #id_people').val('{{ address.people }}');
                        $('#update-address-form #id_city').val('{{ address.city }}');
                        ">
                    Editar
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#delete-address" onclick="
                        $('#delete-address-form').attr('action', '{% url 'monitoring:address-delete' profile.id address.id %}');
                        ">
                    Remover
                </button>
            </li>
        {% empty %}
            <p class="text-muted">Nenhum endereço cadastrado</p>
        {% endfor %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#create-address">Adicionar endereço</button>
    </ul>

    <hr>

    <h4>Histórico de viagens</h4>
    <!-- Modal com o formulário de criação de viagens -->
    <div id="create-trip" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nova viagem</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="create-trip-form" method="post" action="{% url 'monitoring:trip-create' profile.id %}">
                        {% csrf_token %}
                        {{ create_trip_form|crispy }}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal"></button>
                    <input type="submit" form="create-trip-form" class="btn btn-primary" value="Criar">

                </div>
            </div>
        </div>
    </div>
    <!-- Modal com o formulário de atualização de viagens -->
    <div id="update-trip" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar endereço</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="update-trip-form" method="post" action="">{% csrf_token %}
                        {{ update_trip_forms.0|crispy }}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <input type="submit" form="update-trip-form" class="btn btn-primary" value="Editar">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal com o formulário de remoção de viagens -->
    <div id="delete-trip" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remover viagem</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover a viagem {{ trip }}?</p>
                    <form id="delete-trip-form" method="post" action="">{% csrf_token %}</form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <input type="submit" form="delete-trip-form" class="btn btn-danger"
                           value="Remover">
                </div>
            </div>
        </div>
    </div>
    <!-- Lista de viagens -->
    <ul class="list-group mb-3">
        {% for trip in profile.trip_set.all %}
            <li class="list-group-item">
                {{ trip }}
                <button class="btn btn-secondary" data-toggle="modal"
                        data-target="#update-trip" onclick="
                        $('#update-trip-form').attr('action', '{% url 'monitoring:trip-update' profile.id trip.id %}');
                        $('#update-trip-form #id_departure_date').val('{{ trip.departure_date|date:'Y-m-d' }}');
                        $('#update-trip-form #id_return_date').val('{{ trip.return_date|date:'Y-m-d' }}');
                        $('#update-trip-form #id_country').val('{{ trip.country }}');
                        ">
                    Editar
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#delete-trip" onclick="
                        $('#delete-trip-form').attr('action', '{% url 'monitoring:trip-delete' profile.id trip.id %}');
                        ">
                    Remover
                </button>
            </li>
        {% empty %}
            <p class="text-muted">Nenhuma viagem recente</p>
        {% endfor %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#create-trip">Adicionar viagem</button>
    </ul>

    <script>
        function addressQuery(form, input) {
            const maxlength = parseInt(input.attr('maxlength'));

            if (maxlength === input.val().length) {
                console.log("Consultando CEP...");
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://cep.la/" + input.val(), true);
                xhr.setRequestHeader("Accept", "application/json");
                xhr.onreadystatechange = function () {
                    if ((xhr.readyState === 0 || xhr.readyState === 4) && xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        console.log(xhr.responseText);

                        form.find(`#id_street_name`).val(response.logradouro);
                        form.find(`#id_neighbourhood`).val(response.bairro);
                        form.find(`#id_city`).val(response.cidade);
                    }
                };
                xhr.send(null);
            }
        }

        $(document).ready(function () {
            $(".postal-code-field").each(function () {
                const input = $(this);
                const form = input.closest("form");
                console.log(input.attr("id"));
                input.on('input', function () {
                    addressQuery(form, input);
                });
            });
        });
    </script>
{% endblock %}